<nav>
  <tr>
    <td>{{ "World News" }}</td>
    <td>
      <label for="passenger"> Country </label>
      <select name="passengerCount" id="passenger" >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </td>
  </tr>
</nav>
<div class="container">
  <table>
    <tbody *ngFor="let artc of articles">
      <td>
        <h1>{{ artc.title }}</h1>
        <tr>
          <p id="author-id">Source: {{ artc.source.name }}</p>
        </tr>
        <tr>
          <td class="innerData">
            <div>
              <img
                src="{{ artc.urlToImage }}"
                alt="img coming soon"
                class="container-image"
              />
            </div>
            <div>
              <p>
                {{ artc.content }} <br />
                <br /><br />
                {{ artc.description }}
              </p>

              <a href="{{ url }}">More Info</a>

              <tr>
                <p id="author-id">Author:{{ author }}</p>
              </tr>
              <tr>
                <p id="author-id">published At: {{ publishedAt }}</p>
              </tr>
            </div>
          </td>
        </tr>
      </td>
      <!--  -->
    </tbody>
  </table>
</div>
