
<nav>

  <tr> <td>{{"title"}}</td></tr>
  </nav>
  <div class="container">

  <table>
  <thead>
    <h1>
      {{"title"}}
    </h1>
    <h3>
      {{"srcName"}}
    </h3>
  </thead>

  <tbody>
    <td>
  <tr>
    <td>
    <div >
      <img src="https://www.usatoday.com/gcdn/presto/2022/11/15/USAT/b4ee0749-1fc7-4963-8e9d-43d29fe1a0d7-AP_Trump_Immigration.JPG?crop=4201,2363,x0,y0&width=3200&height=1800&format=pjpg&auto=webp" alt="img coming soon" class=container-image>
    </div>
  <div>

  <p>
    {{ "US House chaoChina space station Overhead aircraft binsmSimone BilesBig catsHalloween warning Solo sleeping pods Greatest F1 car Israel Defense Forces declare state of war alert"}} <br>
    <br><br>
    {{"description"}}
  </p>



  <a href="url">hh</a>


  </div>

  </td>

  </tr>
  </td>
  <!--  -->

  <td>
    <tr>
      <td>
        <p>
         {{ "US House chaoChina space station Overhead aircraft binsmSimone BilesBig catsHalloween warning Solo sleeping pods Greatest F1 car Israel Defense Forces declare state of war alert"}} <br>
          <br>
        </p>



      <div >
        <img src="https://www.usatoday.com/gcdn/presto/2022/11/15/USAT/b4ee0749-1fc7-4963-8e9d-43d29fe1a0d7-AP_Trump_Immigration.JPG?crop=4201,2363,x0,y0&width=3200&height=1800&format=pjpg&auto=webp" alt="img coming soon" class=container2-image>
      </div>
      <p>

        {{ "US House chaoChina space station Overhead aircraft binsmSimone BilesBig catsHalloween warning Solo sleeping pods Greatest F1 car Israel Defense Forces declare state of war alert"}} <br>

      </p>

      <a href="url">hh</a>
    <div>

    </div>

    </td>

    </tr>
  </td>

  <!--  -->

  <!--  -->

  <td>
    <tr>
      <td>
        <p>
          {{
          "US House chaoChina space station Overhead aircraft binsmSimone BilesBig catsHalloween warning Solo sleeping pods Greatest F1 car Israel Defense Forces declare state of war alert"}} <br>
        </p>



      <div >
        <img src="https://www.usatoday.com/gcdn/presto/2022/11/15/USAT/b4ee0749-1fc7-4963-8e9d-43d29fe1a0d7-AP_Trump_Immigration.JPG?crop=4201,2363,x0,y0&width=3200&height=1800&format=pjpg&auto=webp" alt="img coming soon" class=container-image>
      </div>
      <p>

        {{"description"}}
      </p>

      <a href="url">hh</a>

      <section>
        AUTHOR:
  {{"AUTHOR"}}
      </section>
    <div>


    </div>

    </td>

    </tr>
  </td>

  <!--  -->

  <td>
    <tr>
      <td>
        <p>
          {{ "US House chaoChina space station Overhead aircraft binsmSimone BilesBig catsHalloween warning Solo sleeping pods Greatest F1 car Israel Defense Forces declare state of war alert"}} <br>
          <br>
        </p>



      <div >
        <img src="https://www.usatoday.com/gcdn/presto/2022/11/15/USAT/b4ee0749-1fc7-4963-8e9d-43d29fe1a0d7-AP_Trump_Immigration.JPG?crop=4201,2363,x0,y0&width=3200&height=1800&format=pjpg&auto=webp" alt="img coming soon" class=container2-image>
      </div>
      <p>

        {{"description"}}
      </p>

      <a href="url">hh</a>
    <div>

    </div>

    </td>

    </tr>
  </td>

  </tbody>

  </table>

  </div>
